<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name=viewport content="width=device-width, initial-scale=1.0">
		<title>{title}</title>
		<link rel="stylesheet" href="{head link stylesheet}" type="text/css">
	</head>
	<body>
		<table id="chat_and_profiles">
			<tr>
				<td id="chat">
					<h2>Chat</h2>
					<textarea id="chat_input"></textarea><br>
					<input type="button" onclick="OC.send_chat()" value="send">
					<input type="button" onclick="OC.clear_chat()" value="clear chat">
					<div id="chat_log"></div>
				</td>
				<td id="profiles">
					 <h2>Profiles</h2>
					 {profiles}
					<div class=profile onclick="OC.reset_profile()">
						-- Reset Profile --
					</div>
				</td>
			</tr>
		<table>
	</body>
	<script src="{head link javascript}"></script>
</html>
# profile #
<div class=profile id="profile_{profile_key}" onclick="OC.select_profile('{profile_key}')">
	<div class=profile_title>
		{profile_key}
	</div>
	<div class=profile_unread id="profile_unread_{profile_key}" >&nbsp;</div>
</div>
# /profile #